@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
- Font sizes
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98  
*/

/* 
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overfollow-x: hidden;
  font-size: 62.5%;
}

body {
  margin: 0, auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* max-width: 1440px; */
}

.li-hover {
  @apply hover:hover:text-slate-teal transition-all;
}
.li-style {
  @apply hover:text-sunset-orange transition duration-[0.5s] cursor-pointer;
}

.info-header {
  @apply font-extrabold text-[1.4rem] text-deep-brown;
}

.info-sub {
  @apply text-[1.4rem] font-normal;
}

.line-spacer {
  @apply h-[80%] self-center w-[0.2rem] bg-deep-brown;
}

/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #9c9aa6;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.image-booking {
  background-image: url("/booking-image.jpg"); /* Use absolute path */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: auto;
}
